# Website A/B Testing - Lab

## Introduction

In this lab, you'll get another chance to practice your skills at conducting a full A/B test analysis. It will also be a chance to practice your data exploration and processing skills! The scenario you'll be investigating is data collected from the homepage of a music app page for audacity.

## Objectives

You will be able to:
* Analyze the data from a website A/B test to draw relevant conclusions
* Explore and analyze web action data

## Exploratory Analysis

Start by loading in the dataset stored in the file 'homepage_actions.csv'. Then conduct an exploratory analysis to get familiar with the data.

> Hints:
    * Start investigating the id column:
        * How many viewers also clicked?
        * Are there any anomalies with the data; did anyone click who didn't view?
        * Is there any overlap between the control and experiment groups? 
            * If so, how do you plan to account for this in your experimental design?

In [2]:
#Your code here
import pandas as pd
df=pd.read_csv('homepage_actions.csv')

In [3]:
df.columns,df.index

(Index(['timestamp', 'id', 'group', 'action'], dtype='object'),
 RangeIndex(start=0, stop=8188, step=1))

In [4]:
df.describe()

                  id
count    8188.000000
mean   564699.749878
std    219085.845672
min    182988.000000
25%    373637.500000
50%    566840.500000
75%    758078.000000
max    937217.000000

In [5]:
df['group'].unique()

array(['experiment', 'control'], dtype=object)

In [6]:
df['action'].unique()

array(['view', 'click'], dtype=object)

In [7]:
df.action.value_counts()

view     6328
click    1860
Name: action, dtype: int64

In [8]:
df

                       timestamp      id       group action
0     2016-09-24 17:42:27.839496  804196  experiment   view
1     2016-09-24 19:19:03.542569  434745  experiment   view
2     2016-09-24 19:36:00.944135  507599  experiment   view
3     2016-09-24 19:59:02.646620  671993     control   view
4     2016-09-24 20:26:14.466886  536734  experiment   view
...                          ...     ...         ...    ...
8183  2017-01-18 09:11:41.984113  192060  experiment   view
8184  2017-01-18 09:42:12.844575  755912  experiment   view
8185  2017-01-18 10:01:09.026482  458115  experiment   view
8186  2017-01-18 10:08:51.588469  505451     control   view
8187  2017-01-18 10:24:08.629327  461199     control   view

[8188 rows x 4 columns]

In [10]:
# <1>* How many viewers also clicked?
# Looking for duplicated id (multiple rows with same id) and whether there were clicks and views for that id.
dfeda= df.copy()
dfeda['temp']=1
dfsort=dfeda.groupby(by = ['id']).sum()
dfsort.describe()
# interpretation: at a maximum, a given user appears twice in the dataframe.
# it could be click&click click&view view&click view&view (order matters)
# we are looking for view&click
# cids = set ( df[df.action == 'click'])

# set of unique users' ids who clicked
cids = set ( df[df.action == 'click']['id'].unique() ) 
# set of unique users' ids who viewed
vids = set ( df[df.action == 'view']['id'].unique() ) 

print("Number of viewers: {} \tNumber of clickers: {}".format(len(vids), len(cids)))

#     * Are there any anomalies with the data; did anyone click who didn't view?

for idnum in list(df.loc[df['action'] == 'click']['id']):
    if df['id'] == idnum & df[:
        print ( idnum , )
                              
#     * Is there any overlap between the control and experiment groups? 
#         * If so, how do you plan to account for this in your experimental design?

Number of viewers: 6328 	Number of clickers: 1860

[349125,
 601714,
 487634,
 468601,
 555973,
 398892,
 444902,
 544571,
 269335,
 596892,
 653403,
 922848,
 283438,
 194950,
 894454,
 370483,
 639852,
 826660,
 381380,
 910738,
 246990,
 832871,
 461125,
 368583,
 839729,
 332165,
 855872,
 691753,
 226057,
 417019,
 852585,
 482798,
 366151,
 769017,
 835449,
 365028,
 480891,
 234444,
 792966,
 550685,
 184992,
 408715,
 766674,
 489523,
 707411,
 304461,
 632767,
 726650,
 349239,
 225854,
 828266,
 774573,
 825953,
 449882,
 457832,
 931812,
 557715,
 786605,
 420863,
 755354,
 619230,
 424146,
 838042,
 443177,
 673124,
 378232,
 883682,
 559812,
 931905,
 638030,
 450877,
 539338,
 251716,
 649807,
 884709,
 363131,
 883875,
 634811,
 489374,
 615186,
 726961,
 559646,
 230350,
 378864,
 261489,
 700205,
 540729,
 388377,
 550280,
 619415,
 645349,
 887912,
 776364,
 432416,
 237346,
 828426,
 404428,
 696656,
 297965,
 430193,
 399915,
 918596,
 826501,
 934486,
 737683,
 200061,
 395723,
 677294,
 759783,
 581893,
 426465,
 578003,
 621925,
 329343,
 419220,
 243913,
 352461,
 687985,
 655266,
 206558,
 742492,
 873277,
 279949,
 402090,
 817559,
 559647,
 405461,
 934795,
 476376,
 691152,
 424505,
 766624,
 378476,
 708992,
 825944,
 717081,
 335999,
 292135,
 311308,
 696456,
 661557,
 903223,
 883141,
 873691,
 740477,
 768170,
 260873,
 844519,
 789500,
 189694,
 280863,
 263533,
 565462,
 409783,
 897647,
 267391,
 261705,
 506558,
 676381,
 832343,
 831394,
 251572,
 246836,
 661251,
 305577,
 799200,
 411360,
 787220,
 322038,
 183938,
 520428,
 444204,
 528913,
 920845,
 215711,
 887233,
 563932,
 629121,
 528259,
 877129,
 925070,
 324368,
 913773,
 330972,
 594134,
 405773,
 654566,
 914320,
 901121,
 355128,
 843456,
 837809,
 903364,
 451893,
 628589,
 652184,
 424946,
 493927,
 191118,
 925767,
 432786,
 241885,
 603861,
 712674,
 540722,
 825876,
 372490,
 456128,
 404652,
 890828,
 474845,
 838743,
 482717,
 391368,
 582967,
 247961,
 589699,
 904541,
 848973,
 292642,
 303720,
 804645,
 795030,
 360932,
 714267,
 731044,
 315033,
 288313,
 300734,
 593705,
 541646,
 277266,
 749052,
 414354,
 314594,
 277682,
 478924,
 818544,
 851029,
 910797,
 762608,
 379435,
 603030,
 640924,
 916418,
 423822,
 213516,
 626389,
 395600,
 499639,
 489899,
 483973,
 340716,
 851351,
 582033,
 611161,
 880213,
 385103,
 846019,
 469271,
 191688,
 536253,
 608398,
 793265,
 853071,
 205023,
 638477,
 216956,
 647995,
 790113,
 790096,
 859887,
 744801,
 638355,
 625137,
 880658,
 451588,
 881992,
 929043,
 209934,
 925193,
 621794,
 619989,
 868076,
 449721,
 668378,
 677836,
 473047,
 712472,
 837797,
 316449,
 911865,
 855704,
 346225,
 738965,
 369652,
 889073,
 654760,
 491217,
 692884,
 246819,
 388040,
 800434,
 683948,
 606163,
 929844,
 768242,
 238113,
 516752,
 746142,
 315236,
 798035,
 207612,
 608715,
 831336,
 702995,
 205853,
 855908,
 769105,
 616073,
 737784,
 255190,
 626808,
 296298,
 335323,
 339931,
 631170,
 532513,
 421991,
 199724,
 621276,
 348953,
 367204,
 810111,
 666372,
 537503,
 215862,
 678919,
 632547,
 190312,
 625797,
 691265,
 655924,
 752313,
 246431,
 757882,
 402978,
 205897,
 611873,
 690897,
 318849,
 752464,
 517689,
 498550,
 457181,
 629044,
 652319,
 878755,
 928377,
 761973,
 297529,
 242574,
 820496,
 514586,
 807248,
 226812,
 472697,
 204792,
 794838,
 285489,
 787632,
 497914,
 852520,
 645093,
 205805,
 530057,
 335803,
 532734,
 315203,
 603804,
 203003,
 758856,
 626045,
 431850,
 269844,
 749316,
 368521,
 517704,
 373073,
 354529,
 235619,
 588741,
 545386,
 461786,
 654829,
 686398,
 832195,
 668344,
 421055,
 187518,
 630342,
 674900,
 762439,
 906503,
 213073,
 716741,
 812423,
 574717,
 310916,
 682534,
 263735,
 542732,
 508060,
 784214,
 712475,
 715493,
 594923,
 373612,
 493483,
 279027,
 706244,
 926105,
 854005,
 441858,
 526482,
 925387,
 691525,
 880866,
 621743,
 353494,
 318786,
 897684,
 184441,
 718410,
 697792,
 544437,
 563142,
 341218,
 791949,
 678243,
 581393,
 619266,
 361226,
 417110,
 544853,
 931739,
 778714,
 632745,
 842036,
 366439,
 828039,
 346763,
 336874,
 263681,
 653936,
 452333,
 544661,
 345138,
 537896,
 768682,
 339650,
 245830,
 893500,
 503816,
 918794,
 283040,
 660329,
 288350,
 656904,
 449973,
 614018,
 865288,
 740662,
 254962,
 473078,
 728735,
 435243,
 742418,
 738820,
 671262,
 633315,
 446681,
 452157,
 198896,
 712540,
 825834,
 191355,
 516754,
 904600,
 406817,
 684489,
 309967,
 466992,
 215968,
 316133,
 477235,
 267400,
 904704,
 269887,
 331082,
 594055,
 487887,
 714589,
 639558,
 564417,
 593720,
 621990,
 496398,
 456648,
 726679,
 797425,
 911024,
 637966,
 350610,
 788433,
 799646,
 843094,
 401932,
 434522,
 473155,
 898114,
 191649,
 642310,
 564531,
 804351,
 784819,
 431657,
 628963,
 221228,
 868018,
 805186,
 293176,
 607991,
 811142,
 317276,
 376641,
 930618,
 446758,
 805835,
 192320,
 586357,
 822175,
 649942,
 347460,
 386357,
 234699,
 915719,
 911951,
 588876,
 199540,
 671658,
 307274,
 673411,
 716091,
 314611,
 333922,
 288246,
 781904,
 323922,
 384816,
 791741,
 899449,
 240331,
 542461,
 551144,
 774776,
 707073,
 530981,
 634713,
 495984,
 362774,
 489984,
 376021,
 801278,
 757135,
 194995,
 342481,
 190684,
 412317,
 335563,
 427665,
 406104,
 422500,
 285370,
 788747,
 784950,
 446305,
 740729,
 456115,
 301659,
 341115,
 739747,
 188853,
 266730,
 206536,
 556352,
 866915,
 458418,
 465358,
 333934,
 348355,
 835521,
 309602,
 214979,
 715671,
 262742,
 503459,
 235096,
 495401,
 285562,
 664620,
 226935,
 286428,
 720703,
 575685,
 391475,
 341356,
 327129,
 394610,
 540617,
 708880,
 527948,
 821832,
 810745,
 470507,
 513870,
 891134,
 754608,
 569421,
 226153,
 762365,
 848426,
 530404,
 506344,
 459363,
 425818,
 678731,
 920069,
 836790,
 311339,
 928876,
 871471,
 447796,
 719574,
 551071,
 208883,
 672698,
 793701,
 804420,
 351218,
 337089,
 328052,
 710242,
 517262,
 661880,
 425476,
 874697,
 259198,
 393953,
 285091,
 630736,
 621547,
 644622,
 295616,
 264704,
 633337,
 384152,
 779555,
 818545,
 760251,
 755000,
 864867,
 490550,
 538330,
 679337,
 450999,
 496193,
 206206,
 494646,
 549921,
 525391,
 889199,
 267227,
 425333,
 929655,
 601416,
 251493,
 319153,
 554330,
 807263,
 242709,
 567467,
 211527,
 471550,
 713154,
 601373,
 523144,
 913919,
 504568,
 460822,
 922378,
 562099,
 296775,
 619349,
 712428,
 445637,
 486553,
 767363,
 382823,
 557838,
 548902,
 417598,
 932758,
 908198,
 560729,
 746163,
 358862,
 374628,
 517024,
 334785,
 724338,
 908243,
 463578,
 745970,
 775358,
 540210,
 875989,
 381388,
 654731,
 491695,
 798082,
 756107,
 895549,
 309855,
 763358,
 492979,
 626054,
 864486,
 823675,
 920061,
 240406,
 315526,
 699345,
 818026,
 263258,
 334402,
 346681,
 745288,
 597870,
 684561,
 283397,
 560020,
 780976,
 269070,
 699817,
 597905,
 792881,
 256844,
 286434,
 500827,
 233701,
 221425,
 775950,
 244336,
 864173,
 403834,
 777999,
 578625,
 444108,
 804064,
 214596,
 739788,
 436018,
 365647,
 620004,
 556804,
 627793,
 822183,
 611573,
 932134,
 697015,
 454419,
 361004,
 855436,
 856126,
 320428,
 740391,
 184654,
 310510,
 392098,
 244995,
 937217,
 837839,
 403446,
 274914,
 792763,
 364246,
 448611,
 379331,
 733543,
 465576,
 813657,
 770255,
 851160,
 272476,
 752277,
 878905,
 897944,
 906870,
 825849,
 495048,
 336180,
 196367,
 779434,
 842001,
 274305,
 215913,
 913220,
 679394,
 575505,
 666481,
 647696,
 446595,
 632520,
 859064,
 261967,
 689511,
 438444,
 594927,
 611144,
 916628,
 334614,
 821557,
 779429,
 298126,
 746615,
 743740,
 274741,
 520810,
 372892,
 890040,
 596109,
 562051,
 751587,
 491729,
 456597,
 244046,
 316068,
 604525,
 562905,
 681481,
 249855,
 382570,
 661460,
 805875,
 363314,
 280760,
 381439,
 719052,
 905385,
 350212,
 733128,
 469075,
 899540,
 813798,
 641044,
 903594,
 242407,
 348549,
 755597,
 594991,
 251248,
 920048,
 272915,
 239356,
 650322,
 353574,
 898078,
 407331,
 347908,
 185108,
 910611,
 514046,
 299126,
 487955,
 716108,
 544471,
 556224,
 281261,
 321369,
 769496,
 477205,
 260564,
 810633,
 925547,
 826793,
 392735,
 687411,
 183141,
 248671,
 480835,
 933480,
 345644,
 703194,
 489243,
 255243,
 906828,
 454074,
 698966,
 743043,
 641268,
 195631,
 479703,
 537705,
 390600,
 452887,
 469120,
 614501,
 339175,
 603742,
 427702,
 436289,
 711821,
 334293,
 598804,
 789066,
 525030,
 604498,
 224219,
 795115,
 924294,
 647214,
 786349,
 882030,
 868765,
 261111,
 356686,
 557099,
 314995,
 589308,
 352499,
 387319,
 532710,
 731949,
 616584,
 825517,
 766704,
 338264,
 494926,
 737715,
 843137,
 821865,
 934268,
 929454,
 205250,
 762149,
 706264,
 494030,
 843001,
 798848,
 604449,
 569491,
 504493,
 812175,
 183248,
 803920,
 783906,
 515193,
 458832,
 491548,
 289058,
 467903,
 439171,
 749085,
 363132,
 767668,
 802579,
 752853,
 781172,
 636848,
 250065,
 285143,
 812302,
 591438,
 732505,
 590341,
 492142,
 252864,
 830584,
 256356,
 635946,
 841512,
 451445,
 714123,
 739366,
 583153,
 826309,
 659372,
 924595,
 575502,
 ...]

In [ ]:
# Comment: Everyone who clicked, also viewed the homepage! 
# (Thank goodness!)

## Conduct a Statistical Test

Conduct a statistical test to determine whether the experimental homepage was more effective than that of the control group.

In [ ]:
#Your code here
# H0 : the experimental homepage was no more effective than that of the control group
#     ie. click rate mean  is the same for  experiment and control populations

# Ha: click rate mean is higher for experiment than for control populations

# alpha = 0.05

#

## Verifying Results

One sensible formulation of the data to answer the hypothesis test above would be to create a binary variable representing each individual in the experiment and control group. This binary variable would represent whether or not that individual clicked on the homepage; 1 for they did and 0 if they did not. 

The variance for the number of successes in a sample of a binomial variable with n observations is given by:

## $n\bullet p (1-p)$

Given this, perform 3 steps to verify the results of your statistical test:
1. Calculate the expected number of clicks for the experiment group, if it had the same click-through rate as that of the control group. 
2. Calculate the number of standard deviations that the actual number of clicks was from this estimate. 
3. Finally, calculate a p-value using the normal distribution based on this z-score.

### Step 1:
Calculate the expected number of clicks for the experiment group, if it had the same click-through rate as that of the control group.

In [ ]:
#Your code here

### Step 2:
Calculate the number of standard deviations that the actual number of clicks was from this estimate.

In [ ]:
#Your code here

### Step 3: 
Finally, calculate a p-value using the normal distribution based on this z-score.

In [ ]:
#Your code here

### Analysis:

Does this result roughly match that of the previous statistical test?

> Comment: **Your analysis here**

## Summary

In this lab, you continued to get more practice designing and conducting AB tests. This required additional work preprocessing and formulating the initial problem in a suitable manner. Additionally, you also saw how to verify results, strengthening your knowledge of binomial variables, and reviewing initial statistical concepts of the central limit theorem, standard deviation, z-scores, and their accompanying p-values.